.ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-wrap: wrap;
}

.p {
    margin-top: 10px;
    max-width: 600px;
}


.li {
    display: flex;
    gap: 20px;
    flex-direction: column;
}